    /* 구글폰트  */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

a{
    color: inherit;
    text-decoration: none;
}
button, input{
    outline: none;
    border: none;
    color: inherit;
}
/* commmon */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
.en{
    font-family: 'Exo 2', sans-serif;
}
/* 줄바꿈 */
br.mo{
    display: none;
}

/* header */
header{
    /* background: tomato; */
    background: rgba(0,0,0, 0.2);
    height: 100px;
    line-height: 100px;

    /* 깨질위험있어서 수동으로 가로 늘려주기 */
    width: 100%;
    position: fixed;
    top: 0;

    /* 항상 위에 두기 위해서===================stack order-2번째 z-index 사용함*/
    z-index: 1000;
}
header .inner-header{
    /* background: green; */
    width: 84%;
    margin:  0 auto;
}
header .inner-header .logo {
    float: left;
    width: 200px;
}
header .inner-header .logo img{
    width: 100%;
}
header .inner-header .gnb{
    float: left;
    margin-left: 80px;

}
header .inner-header nav li{
    float: left;
}
header .inner-header .gnb li{
    margin-right: 80px;
}
header .inner-header nav li a {
    font-size: 16px;
    color: #fff;
}

header .inner-header .gnb li a{
    display: block;
}

header .inner-header .gnb li a:hover{
    color: #ff8342;
}
header .inner-header .tnb{
    /* background: orangered ; */
    float: right;
}

header .inner-header .tnb li{
    margin-right: 25px;
}
header .inner-header .tnb li a{
    text-align: center;
}
header .inner-header .tnb li:firth-child i,
header .inner-header .tnb li:nth-child(2) i{
    margin-right: 8px;
    /* 아이콘 크기 조정도 font size 사용함*/
    font-size: 20px;
}
header .inner-header .tnb li:last-child{
    margin-left: 5px;
}
header .inner-header .tnb li:last-child a {
    display: block;
    width: 105px;
    /* 폰트사이즈 높이만큼 들어가면 줄여둠 */
    line-height: 2;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 33px;
}
header .inner-header .tnb li:last-child a:hover {
    background: #fff;
    color: #ff8342;
}

/* mobile 메뉴 햄버거 버튼 숨김처리 */
header .inner-header .gnb-mobile{
    display: none;
}





/* section main */
section.main{
    /* fix - 사진은 그대로 있음 ==================================================*/
    background: url(../img/vis_4.jpg) no-repeat center / cover fixed;

    /* 세로화면전체선택!!!!!!!!!!!! 100vh!!!!!!==============================================*/
    height: 100vh;
    position: relative;
}

section.main .main-title{
    /* background: tomato; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    /* 글자 그림자 */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    animation: uprise 2s;
}

/* 애니메이션 - 만들고 위에 넣어주기*/
@keyframes uprise {
    0% {
        opacity: 0;
        top: 60%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}

section.main .main-title h2{
    font-size: 55px;
}
section.main .main-title p{
    font-size: 25px;
    margin: 20px 0;
}

section.main .main-title .view {
    display: block;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    width: 180px;
    padding: 8px 0;

    /* box 가운데로 맞춰주기 */
    margin: 0 auto;
    letter-spacing: 2px;
    position: relative;
    /* 자식이 넘쳤을때 없애줌 */
    overflow: hidden;

}
/* 고스트버튼?? 만들기=========================================== */
section.main .main-title .view::after{
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}
section.main .main-title .view:hover::after{
    width: 100%;
}
/* 부모한테 overflow:hidden 사용해주기 */


/* section about */
section .about{
    /* background: yellow; */
    padding: 80px 0;
}
section .title{
    text-align: center;
}
section .title h2{
    font-size: 45px;
    color: #000;
    margin-bottom: 5px;
}
section .title p{
    font-size: 18px;
    color: #555;
}


section.about ul{
    width: 74%;
    margin: 30px auto;
    border-bottom: 1px solid #ddd;
}
section.about ul li{
    float: left;
    width: 33.33333%;
    height: 490px;
    position: relative;
    /* border: 2px solid #000;
    box-sizing: border-box; */
}
section.about ul li .img-box{
    overflow: hidden;

}
section.about ul li .img-box img{
    width: 100%;
    transition: 0.6s;
}
section.about ul li a:hover .img-box img{
    transform: scale(1.2);
}

/* section.about div h2{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
} */
/* .about div p{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.about ul div h3{
    text-align: left;
} */

section.about ul li a .text{
    padding: 25px;

}
section.about ul li a .text h3{
    font-size: 20px;
    margin-bottom: 10px;
}
section.about ul li a .text p{
    font-size: 16px;
    margin-bottom: 20px;
}
section.about ul li a .text p.more {
    /* 일괄대소문자변경 <-> lowercase ============================================== */
    text-transform: uppercase;
    font-weight: 700;
    /* background: skyblue; */
    padding-left: 40px;
    position: absolute;
    bottom: 15px;
}
section.about ul li a .text p.more::before{
    content: '→';
    display: block;
    width: 30px;
    /* y축 동일하게 하려면 height랑 line-height랑 값 동일하게하기 ======================*/
    height: 30px;
    line-height: 30px;
    background: #ff8342;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -5px;
}



/* section innovation */
section.innovation {
    margin-bottom: 150px;

}
section.innovation .img-box {
    width: 74%;
    height: 540px;
    margin: 50px auto 0;
    background: orange;
    background: url('../img/product_1.jpg') no-repeat center / cover ;
    position: relative;
}
section.innovation .img-box .inner{
    background: #3a3c4e;
    width: 80%;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0);
}
section.innovation .img-box .inner h3{
    background: #fff;
    color: #222;
    font-size: 18px;
    padding: 25px 45px;
    box-sizing: border-box;
}
section.innovation .img-box .inner .bottom {
    padding: 35px 85px;
    box-sizing: border-box;
}
section.innovation .img-box .inner .bottom p{
    width: 70%;
    float: left;
    line-height: 1.6;
}
section.innovation .img-box .inner .bottom a{
    float: right;
    background: #ff8342;
    border-radius: 50px;
    padding: 7px 30px;
}
section.innovation .img-box .inner .bottom a:hover{
    background: #f86010;;

}



/* section me style */
section.me{
    padding: 80xp 0;
    margin-bottom: 150px;
    background: url('../img/me.jpg') no-repeat center / cover;
}
section.me ul.list {
    width: 74%;
    margin: 50px auto;
    /* background: orange; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
section.me ul.list > li{
    padding: 30px 60px;
}
section.me ul.list > li:first-child{
    border-bottom: 1px solid #ddd;
}
section.me ul.list > li h3{
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}
section.me ul.list > li h3 span{
    position: absolute;
    left: -35px;
    color: #ff8342;
}
section.me ul.list > li p{
    line-height: 1.6;
    margin-bottom: 20px;
}
section.me ul.list > li .more{
    font-size: 16px;
    font-weight: 700;
}
section.me ul.list > li .more span{
    color: #ff8342;
    margin-left: 3px;
    font-size: 14px;
}
section.me ul.list ul.in{
    margin-bottom: 30px;
}
section.me ul.list ul.in li em{
    float: left;
    font-weight: 700;
    width: 12%;
}
section.me ul.list ul.in li p{
    float: left;
    position: relative;
}
section.me ul.list ul.in li p::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff8342;
    position: absolute;
    left: -40px;
    top: 10px;
}
#incruit-btn{
    display: block;
    width: 280px;
    background: #ff8342;
    color: #fff;
    margin: 0 auto;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
}

/* section sns style */
section.sns {
    margin-bottom: 60px;
}
section.sns ul{
    width: 74%;
    margin: 50px auto;
}
section.sns ul li{
    margin-right: 2%;
    width: 32%;
    float: left;
}
section.sns ul li:last-child{
    margin-right: 0;
}
section.sns ul li .img-box{
    height: 255px;
    overflow: hidden;
    position: relative;
}
section.sns ul li .img-box::before{
    content: '';
    width: 0;
    background: rgba(255,131,66,0.75);
    position: absolute;
    transition: 0.5s;
}
section.sns ul li a:hover .img-box::before{
    width: 100%;
}
section.sns ul li .img-box::after{
    content: 'BLOG';
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 5px 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.7s;
}
section.sns ul li a:hover .img-box::after{
    opacity: 1;
}
section.sns ul li .img-box img {
    width: 100%;
}
section.sns ul li .bottom{
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}
section.sns ul li .bottom p{
    font-size: 18px;
}
section.sns ul li .bottom p.color{
    color: #ff8342;
    font-size: 15px;
    margin-bottom: 10px;
}
section.sns ul li .bottom p.time{
    color: #999;
    font-size: 14px;
    margin-top: 30px;
}
section.sns ul li .bottom p.time i{
    margin-right: 5px;
    font-size: 0.9em;
}



/* footer style */
footer {
    border-top: 1px solid #999;
    padding: 30px 0;
}
footer .inner{
    width: 84%;
    margin: 0 auto;
}
footer .inner .ft-logo {
    float: left;
    width: 14%;
}
footer .inner .ft-logo img{
    width: 100%;
}
footer .inner .address {
    float: left;
    margin-left: 100px;
    margin-top: 35px;
}
footer .inner .address li:first-child{
    font-weight: 700;
    margin-bottom: 10px;
}
footer .inner .address li:last-child{
    color: #999;
}
footer .inner .list{
    float: right;
    margin-top: 40px;
}
footer .inner .list li{
    float: left;
    margin-left: 80px;
}
footer .inner .list li:last-child{
    font-weight: 700;
}
footer .inner .list li a:hover{
    color: #ff8342;
    text-decoration: underline;
}


/* 반응형 레이아웃 작업 */
/* 노트북해상도 1599px 이하*/
@media screen and (max-width:1599px) {
    header .inner-header{
        width: 95%;
    }
    header .inner-header .gnb{
        margin-left: 50px;
    }
    header .inner-header .gnb li{
        margin-right: 40px;
    }
    
    section.about ul,
    section.innovation .img-box,
    section.me ul.list,
    section.sns ul,
    footer .inner {
        width: 95%
    }
 
}
/* 아이패드 1024px 해상도*/
    /* 태블릿 1024px 해상도 (아이패드 프로) */
@media screen and (max-width: 1024px) {
    
    header .inner-header .gnb, 
    header .inner-header .tnb {
        display: none;
    } 

    header .inner-header .gnb-mobile {
        display: block;
        font-size: 40px;
        color: #fff;
        float: right;
    }
    section.main .main-title {
        width: 80%;
    }
    section.about ul li {
        height: 430px;
    }
    section.me ul.list ul.in li p::before {
        left: -20px;
    }
    section.sns ul li .img-box {
        height: 175px;
    }
    section.sns ul li .bottom {
        padding-left: 5px;
    }
    footer .inner .list {
        display: none;
    }
    footer .inner .ft-logo {
        margin-top: 15px;
    }
}

/* tablet 768 */
@media screen and (max-width:768px){
    
    section.main .main-title h2 {
        font-size: 40px;
    }
    section.main .main-title p {
        font-size: 20px;
    }

    section.about {
        padding: 50px 20px;
    }
    section.about ul li {
        float: none;
        width: 100%;
        margin-bottom: 120px;
    }
    section.about ul li .img-box {
        height: 400px;
    }
    section.about ul li a .text {
        position: relative;
    }
    section.about ul li a .text p.more {
        bottom: -20px;
    }
    section.innovation .img-box .inner .bottom {
        padding: 30px;
    }

    section.innovation .img-box .inner .bottom p {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    section.innovation .img-box .inner .bottom a {
        float: none;
        display: block;
        width: 100px;
        text-align: center;
        margin: 0 auto;
    }

    section.me {
        padding: 50px 0;
    }

    section.me ul.in li em {
        float: none;
        width: 100%;
        font-size: 17px;
        margin-bottom: 5px;
    }
    section.sns ul li {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    section.sns ul li a .img-box {
        float: none;
        height: 380px;
    }

    section.sns ul li a .bottom p.time {
        margin-top: 10px;
    }

    footer .inner .ft-logo {
        float: none;
        width: 30%;
        margin: 0 auto;
    }
    footer .inner .address {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}
/* 모바일 414px 해상도 (아이폰 678 plus) */
@media screen and (max-width: 414px) {

    header {
        height: 60px;
        line-height: 60px;
    }
    header .inner-header .logo {
        width: 130px;
        position: absolute;
        top: -3px;
        left: 0;
    }

    section.main .main-title h2 {
        font-size: 30px;
    }
    section.main .main-title p {
        font-size: 16px;
    }

    section.main .main-title .view {
        width: 150px;
        font-size: 14px;
    }

    section .title h2 {
        font-size: 25px;
    }
    section .title p {
        font-size: 14px;
    }

    section.about {
        padding: 30px 0;
    }

    section.about ul li {
        border: 1px solid #ddd;
        box-sizing: border-box;
        background: #fafafa;
        margin-bottom: 10px;
    }

    section.about ul li a .img-box {
        height: 300px;
    }

    section.innovation .img-box {
        height: 400px;
    }

    section.me ul.list > li {
        padding: 20px 20px 20px 45px;
    }
    section.me ul.list > li p {
        text-align: justify;
    }

    section.sns ul li a .img-box {
        height: 200px;
    }

    footer {
        padding: 20px 0;
    }
}

/* 모바일 320px 해상도 (아이폰5 / SE) */
@media screen and (max-width: 320px) {

    br.mo {
        display: block;
    }

    .wrap {
        min-width: 320px;
    }

    header .inner-header .logo {
        width: 140px;
        height: auto;
    }

    header .inner-header .gnb-mobile {
        font-size: 32px;
        margin-right: 15px;
        position: absolute;
        right: 0;
        bottom: 2px;
    }

    section.main .main-title h2 {
        font-size: 22px;
    }

    section.main .main-title p {
        font-size: 14px;
    }

    section.about ul li a .img-box {
        height: 200px;
    }

    section.about ul li a .text {
        padding: 15px;
    }

    section.about ul li a .text h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    section.about ul li a .text p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    section.innovation .img-box {
        height: 300px;
    }

    section.me {
        margin-bottom: 40px;
    }

    section.sns ul li a .img-box {
        height: 170px;
    }

    section.sns ul li a .bottom {
        padding: 20px 10px;
    }
}
